<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listagem</title>
</head>
<body>

        <table>
            <thead>
                    <tr>ID</tr>
                    <tr>Nome</tr>
                    <tr>Sigla</tr>
                    <tr>Ação</tr>
            </thead>

            <tbody th:each="estado: ${listaEstados}">

            <tr>
                <td th:text="${estado.id}"></td>
                <td th:text="${estado.nome}"></td>
                <td th:text="${estado.sigla}"></td>
                <td colspan="2">
                    <a th:href="@{/editarEstado/{id}(id=${estado.id})}">Editar</a>
                    <a th:href="@{/removerEstado/{id}(id=${estado.id})}">remover</a>
                </td>

            </tr>

            </tbody>
        </table>

</body>
</html>